{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Save</title>
    <link rel="stylesheet" href="https://unpkg.com/@majidh1/jalalidatepicker/dist/jalalidatepicker.min.css">
    <link rel="stylesheet" href="{% static 'styles/save.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="body">
    <div class="justify-content-center align-content-center text-center"> 
        <h1 style="font-family: 'Vazir';" class="text1 mt-5 text-light">! درخواست شما ثبت شد </h1>
        <h3 style="font-family: 'Vazir';" class="text1 mt-3 text-light">! صبر کنید </h3>
    </div>
    <script>
        setTimeout(function() {
            window.location.href = "{% url 'home' %}";
        }, 3000);
    </script>
</body>
</html>